#head{
    background-color: #073B4C;
    position: relative;
    height:100px;
}
body{
    overflow-x: hidden;
}
#eventitem{
    border:1px solid #000C66;
    border-radius:10px;
    margin:10px;
    padding:10px;
    height: max-content;
}
#eventitem:hover{
    box-shadow: 0 0 23px rgb(88, 66, 141);
    border-radius: 9px;
}
.eventButton{
    background-color: white;
    color: #6C63FF;
    border-radius: 2px;
    border: 1px solid#6C63FF;
}
.eventButton:hover{
    background-color: #6C63FF;
    color: white;
}
.eventtag{
    background-color: #0077B6;
    color: white;
    border-radius:5px;
    margin:5px;
    padding: 5px;
}

.eventItemImg{
  width: 30%;
  height: 30%;
}
