body{
  padding:0;
}

.row{
  background-color: #F6F7F8;
  margin-top: 60px;
  padding: 2rem 1rem;
  text-align: center;
}

.fixed-position{
  position: fixed;
  width: 30%;
}

@media (max-width: 1000px){
  .fixed-position{
    position: static;
    width: 75%;
    margin: 0 auto;
  }

  p{
    text-align: center;
  }


.event-description{
    text-align: center;
  }

  .event-title{
    text-align: center;
  }
}




.register-button{
  width: 50%;
}

.event-image{
  width:50%;
  margin-bottom: 1.5rem;

}

.event-title{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 1rem 1rem;
  background-color: white;
  margin: 0;
  border-bottom-width:1px;
  border-bottom-style: outset;
  box-shadow: 0 0 2px 0;
}


.event-description{
  margin-bottom: 2rem;
  line-height: 1.75;
  text-align: left;
}

.event-card{
  margin: 0 auto;
  background-color: white;
  width: 65%;
  margin-bottom: 1.5rem;
  text-align: left;
  padding: 5%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;;
  border-color: #023E8A;
}
