.events-heading{
  color: #0077B6;
  margin:30px;
}

.events-search{
  margin-right: 20px;
  border-width:1.8px;
  border-style:solid;
  border-color:#0077B6;
  border-radius:10px;
}



.search-div{
  text-align: center;
  font-size: 17px;
}

input:focus, textarea:focus, select:focus{
        outline: none;
}
